<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyerh.mapper.IUserMapper">

    <select id="getCurRec" resultType="int">
        select cur_rec from user u where u.u_id=#{uId};
    </select>

    <select id="getDetection" resultType="int">
        select detection from user u where u.u_id=#{uId};
    </select>

    <update id="addCurRec">
        update user u set u.cur_rec=u.cur_rec+1 where u.u_id=#{uId};
    </update>


</mapper>